 body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 40px;
        background: #F7C600;
        color: #333;
    }

    h1 {
        margin-bottom: 10px;
        color: #d40073;
    }

    #nome {
        margin-top: 10px;
        padding: 10px 15px;
        font-size: 16px;
        width: 240px;
        border-radius: 6px;
        border: 1px solid #000000
    }

    #seta {
        width: 0;
        height: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-bottom: 30px solid #d40073;
        rotate: 60deg;
        margin: 10px auto 5px auto;
        filter: drop-shadow(0px 2px 3px #0004);

    }

    #roleta {
        width: 340px;
        height: 340px;
        border-radius: 50%;
        border: 8px solid #333;
        margin: 10px auto;
        position: relative;
        overflow: hidden;
        transform: rotate(0deg);
        transition: transform 4s cubic-bezier(0.15, 0.7, 0.05, 1);
        background: white;
        box-shadow: 0 0 10px #0003;
    }

    .opcao {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform-origin: 0% 0%;
        background: #ffd9ec;
        border: 1px solid #b7005c33;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: bold;
        padding: 5px;
        text-align: justify;
    }

    /*cores alternadas*/

    .cor1 { background: #9787B7; }
    .cor2 { background: #008450; }
    .cor3 { background: #E0308D; }
    .cor4 { background: #E0434A; }
    .cor5 { background: #098BAE; }
    .cor6 { background: #ffafd4; }

     /* BOTÃO ANIMADO */
    button {
        padding: 14px 28px;
        font-size: 20px;
        cursor: pointer;
        background: #d40073;
        color: white;
        border: none;
        border-radius: 8px;
        margin-top: 20px;
        transition: 0.25s;
        animation: pulse 1.5s infinite;
    }
    button:hover {
        transform: scale(1.05);
        background: #ff0fa2;
        box-shadow: 0 0 12px #ff7ac7;
    }

     @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
    }
    
    #resultado {
        margin-top: 25px;
        font-size: 26px;
        font-weight: bold;
        color: #d40073;
        min-height: 40px;
    }

    button:hover {
        background: #ff0fa2;
    }

    #resultado {
        margin-top: 25px;
        font-size: 22px;
        font-weight: bold;
        color: #d40073;
    }